{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="{% static 'img/logogo.png' %}" type="">

    <title> Contact Us </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets1/css/bootstrap.css' %}" />

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- nice select  -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
        integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ=="
        crossorigin="anonymous" />
    <!-- font awesome style -->
    <link href="{% static 'assets1/css/font-awesome.min.css' %}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="{% static 'assets1/css/style.css' %}" rel="stylesheet" />
    <!-- responsive style -->
    <link href="{% static 'assets1/css/responsive.css' %}" rel="stylesheet" />
    <style>
        .icon:hover {
            filter: invert(0.5)
        }
    </style>
</head>

<body class="sub_page">

    <div class="hero_area">
        <div class="bg-box">
            <img src="{% static 'assets1/images/hero-bg.jpg' %}" alt="">
        </div>
        <!-- header section strats -->
        <header class="header_section">
            <div class="container">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" href="index">
                        <span>
                            Helper Hub
                        </span>
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class=""> </span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav  mx-auto ">
                            <li class="nav-item ">
                                <a class="nav-link" href="index">Home </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="menu">Hub</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about">About <span class="sr-only">(current)</span> </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="contact">Contact Us</a>
                            </li>
                        </ul>
                        <div class="user_option">

                            {% if user.is_authenticated %}
                            <a href="{% url 'signout' %}" class="order_online">Signout</a> {% else %}
                            <a href="{% url 'signin' %}" class="order_online">Sign Up/Sign In</a> {% endif %}
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- end header section -->
    </div>

    <!-- book section -->
    <section class="book_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Contact Us
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form_container">
                        <form action="">
                            <div>
                                <input type="text" class="form-control" placeholder="Your Name" />
                            </div>
                            <div>
                                <input type="text" class="form-control" placeholder="Phone Number" />
                            </div>
                            <div>
                                <input type="email" class="form-control" placeholder="Your Email" />
                            </div>
                            <div>
                                <select class="form-control nice-select wide">
                                    <option value="" disabled selected>
                                        How many persons?
                                    </option>
                                    <option value="">
                                        2
                                    </option>
                                    <option value="">
                                        3
                                    </option>
                                    <option value="">
                                        4
                                    </option>
                                    <option value="">
                                        5
                                    </option>
                                </select>
                            </div>
                            <div>
                                <input type="date" class="form-control">
                            </div>
                            <div class="btn_box">
                                <button>
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="map_container ">
                        <div id="googleMap">
                            <iframe
                                src="https://maps.google.com/maps?q=IIIT%20Vadodara,%20gandhinagar&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                style="height: 360px; width: 750px; border:0;"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end book section -->

    <!-- footer section -->
    <footer class="footer_section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-col">
                    <div class="footer_contact">
                        <h4>
                            Contact Us
                        </h4>
                        <div class="contact_link_box">
                            <a
                                href="https://www.google.com/maps/place/Gandhinagar,+Gujarat/@23.220852,72.5755074,12z/data=!4m5!3m4!1s0x395c2b987c6d6809:0xf86f06a7873e0391!8m2!3d23.2157912!4d72.636795">
                                <!-- <a href="https://maps.google.com/maps?q=IIIT%20Vadodara,%20gandhinagar&t=&z=13&ie=UTF8&iwloc=&output=embed"> -->
                                <!-- width="100%" height="380" frameborder="0" style="border:0" allowfullscreen -->
                                <!-- <iframe  src="https://maps.google.com/maps?q=IIIT%20Vadodara,%20gandhinagar&t=&z=13&ie=UTF8&iwloc=&output=embed" ></iframe> -->
                                <!-- <i class="fa fa-map-marker" aria-hidden="true"></i> -->
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>
                                    Location
                                </span>
                            </a>
                        
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                                    Call +1 626 507 7005
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>
                                    icpccoders08@gmail.com
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <div>
                        <div class="footer_detail">
                            <img src="{% static 'img/logogo.png' %}" class="icon" style="height: 150px; width: 150px;"
                                alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col" style="padding-top: 45px;">
                    <a href="" class="footer-logo">
                        Helper Hub
                    </a>
                </div>
            </div>
            <div class="footer-info">
                <p>
                    &copy; <span id="displayYear"></span> All Rights Reserved By
                    <a href="">Debug Thugs</a> <span id="displayYear"></span>
                </p>
            </div>
        </div>
    </footer>
    <!-- footer section -->

    <!-- jQery -->
    <script src="{% static 'assets1/js/jquery-3.4.1.min.js' %}"></script>
    <!-- popper js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
    <!-- bootstrap js -->
    <script src="{% static 'assets1/js/bootstrap.js' %}"></script>
    <!-- owl slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>
    <!-- isotope js -->
    <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
    <!-- nice select -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
    <!-- custom js -->
    <script src="{% static 'assets1/js/custom.js' %}"></script>
    <!-- Google Map -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
    </script> -->
    <!-- End Google Map -->

</body>

</html>